<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>{{ isEditMode() ? 'Editar post' : 'Novo post' }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="submit()" #form="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput name="title" [ngModel]="title()" (ngModelChange)="title.set($event)" required />
      </mat-form-field>

     <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select name="category" [ngModel]="categoryId()" (ngModelChange)="categoryId.set($event)" required>
            @for (cat of categories(); track cat.id) {
            <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>URL da imagem de capa (opcional)</mat-label>
        <input matInput name="coverUrl" [ngModel]="coverUrl()" (ngModelChange)="coverUrl.set($event)" placeholder="https://..." />
      </mat-form-field>

      <p class="preview-label">Pré-visualização da capa:</p>
      <app-post-cover [coverUrl]="coverUrl()" [title]="title()" [seed]="postId() ?? title()"></app-post-cover>

      <mat-form-field appearance="outline" class="full-width content-field">
        <mat-label>Conteúdo</mat-label>
        <textarea matInput name="content" rows="10" [ngModel]="content()" (ngModelChange)="content.set($event)" required></textarea>
      </mat-form-field>

      @if (errorMessage()) {
        <p class="error">{{ errorMessage() }}</p>
      }

      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || saving()">
        {{ saving() ? 'Salvando...' : 'Salvar' }}
      </button>
    </form>
  </mat-card-content>
</mat-card>